<!-- PLEASE KEEP HEADERS THE SAME FOR ALL HTML PAGES -->
<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
<nav class="w3-bar w3-blue">
    <a href="/" class="w3-button w3-bar-item">Home</a>
    <a href="/login" class="w3-button w3-bar-item">Login</a>
    <a href="/profile" class="w3-button w3-bar-item">Tour</a>
    <a href="/manage" class="w3-button w3-bar-item">Database</a>
    <a href="/about" class="w3-button w3-bar-item">About</a>
</nav>
   <h1>New User</h1>
	<form action="/new_user" method="POST">
		<p>Employee ID:</p>
		<input type="text" name="id-input">
		<p>Username:</p>
		<input type="text" name="username-input">
		<p>Email:</p>
		<input type="text" name="email-input">
		<p>First Name:</p>
		<input type="text" name="first-name-input">
		<p>Last Name:</p>
		<input type="text" name="last-name-input">
		<p>Password: </p>
		<input type="password" name="password-input">
		<br><br>
		<input type="submit" value="Sign up">
		<br>
	</form>
</body>
</html>