<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">

<nav class="w3-bar w3-blue">
    <a href="{{ url_for('home') }}" class="w3-button w3-bar-item">Home</a>

    <a href="#login" class="w3-button w3-bar-item">Login</a>
    <a href="#Profile" class="w3-button w3-bar-item">Tour</a>
    <a href="{{ url_for('overview') }}" class="w3-button w3-bar-item">Database</a>

    <a href="{{ url_for('about') }}" class="w3-button w3-bar-item">About</a>

</nav>

<p>
    Hello
</p>

</html>
