<!-- PLEASE KEEP HEADERS THE SAME FOR ALL HTML PAGES -->
<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<head>
    <title>Overview</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="w3-bar w3-blue">
        <a href="/" class="w3-button w3-bar-item">Home</a>
        <a href="/login" class="w3-button w3-bar-item">Login</a>
        <a href="/profile" class="w3-button w3-bar-item">Tour</a>
        <a href="/manage" class="w3-button w3-bar-item">Database</a>
        <a href="/about" class="w3-button w3-bar-item">About</a>
    </nav>
    <div class="container col-10 ">
        <div class="col-md">
            <br>
            <h1>Home</h1>
            <p>Press one of the buttons on top</p>
            <h2>Features</h2>
            <ul>
                <li>
                    <h4>Login</h4>
                    <p>
                        The login system works if you type in an existing user's username
                        and password. To find that, click on the tour tab to see the list
                        of users. Within login, you can also create a new user. Filling in
                        the forms will create a new user.
                    </p>
                </li>
                <li>
                    <h4>Tour</h4>
                    <p>
                        Displays a list of users. The password will not be shown in the
                        final version, but it's there to show that how the login system works.
                    </p>
                </li>
                <li>
                    <h4>Database</h4>
                    <p>
                        The product systems allows the user to create, delete, and update
                        items in the database. The list of items are also displayed within
                        the same page. Filling out the forms will generate the product.
                    </p>
                </li>
                <li>
                    <h4>About</h4>
                    <p>
                        A page that describes what our project does and what our goals are.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>